@model List<Portfolio>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Topic</th>
            <th scope="col">Description</th>
            <th scope="col">Client</th>
            <th scope="col">Category</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td><img src="~/@obj.Image" width="100" height="100"> </td>
                <td>@obj.Topic</td>
                <td>@obj.Description</td>
                <td>@obj.Client</td>
                <td>@obj.Category</td>

                <td>
                    <a asp-action="Edit" asp-controller="Portfolio" asp-route-id="@obj.PortfolioId">Edit</a>
                    <a asp-action="Delete" asp-controller="Portfolio" asp-route-id="@obj.PortfolioId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
        <a class="submit" class="btn bnt-primary" asp-action="Create" asp-controller="Portfolio">Create</a>
</table>
